.w {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;

}

.wi {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;

}

.bc {

  background-color: #f4f4f4;

}

body {

  overflow: visible;

}

.header {

  position: sticky;
  top: 0;
  left: 10px;
  z-index: 99999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  background-color: #ffffff;

}

a {
  text-decoration: none;
  color: inherit;
}

/* 快捷导航部分 */
.shortcut {
  height: 52px;
  background-color: #333;
  width: 100%;
}

.shortcut li a {
  color: #fff;

}

.shortcut li a:hover {
  color: #ff6600;
}

/* 修改第一个li中的a的颜色 */
.shortcut li:first-child a {
  color: #ff6600;
}


.shortcut ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;



}

.w ul span {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
  transition: all 0.5s;
}

.w ul span:hover {
  transform: rotate(360deg);
  transform-origin: center;

}

.w .line {
  width: 1px;
  height: 12px;
  background-color: #e1e1e1;
  margin: 0 15px;
}





.header .logo {
  height: 88px;
  line-height: 88px;
  width: 200px;
  background-color: hsl(0, 0%, 100%);
}

.header .logo h1 {
  width: 100%;
  height: 100%;
}

.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logo.png) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}

.nav {
  display: flex;
  gap: 48px;
}

.nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid transparent;
}

.nav li a:hover {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}

.search input {
  border: none;
  color: #fefefe;
  height: 40px;
  line-height: 40px;
  text-indent: 28px;
  border-bottom: 2px solid #f4f4f4;
  font-size: 16px;
  color: #100f0f;
  outline: none;

}

.search {
  position: relative;
}

.search i {
  position: absolute;
  top: 9px;
  left: 3px;

  font-size: 19px;
  color: #ccc;
}

/* .search input:focus {
  outline: none;
} */

.search input::placeholder {
  font-size: 16px;
  color: #ccc;
}

.car i {
  font-size: 35px;
  margin-right: 10px;
  color: #333;
}

.car {
  position: relative;
  width: 50px;

}

.car span {
  font-size: 10px;
  position: absolute;
  left: 20px;
  top: 0;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #ff6600;
  color: #fff;

}

.footer {
  height: 580px;
  background-color: #f4f4f4;
}

.slogan {
  height: 178px;
  border-bottom: 1px solid #e1e1e1;
}

.slogan ul {
  height: 178px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slogan ul li {
  display: flex;
  background: url(../images/sprite.png) no-repeat 0 calc(-58px * var(--i));
}

.slogan ul li h5 {

  width: 58px;
  height: 58px;
  align-items: center;
  /* background-color: #ff6600; */

}

.slogan ul li p {
  font-size: 28px;
  margin-left: 20px;
  color: #100f0f;
  align-items: center;
}

/* 精灵图 */
.slogan ul li h5.two {
  background-position: 0 -58px;
}

.slogan ul li h5.three {
  background-position: 0 -116px;
}

.slogan ul li h5.four {
  background-position: 0 -174px;
}

/* 服务模块 */
.service {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 60px;

}

.servers-left {
  display: flex;
  gap: 84px;
}

.servers-left dt {
  font-size: 18px;
  margin-bottom: 30px;
}

.servers-left dd a {
  color: #969696;
}

.servers-left dd {
  margin-bottom: 10px;
}

dd a i {
  color: #00be9a;
}

.servers-right ul {
  text-align: center;
  display: flex;
  gap: 40px;
  color: #969696;
}

.copyright {
  text-align: center;
  margin-top: 100px;
  line-height: 30px;
  color: #969696;
}